In [ ]:
a=5
print("Iam", a,"years old")

Iam 5 years old

In [ ]:
a=6
b=45
print(a+b)

51

In [ ]:
print(2**4)

16

In [ ]:
print(35//4)

8

In [ ]:
a=8
b=8
print(a==b)
print(a>b)
print(a<b)
print(a!=b)
print(a>=b)
print(a<=b)

True
False
False
False
True
True

In [ ]:
a=8
b=15
print((a>b) and (a<b))
print((a>b) or (a<b))

False
True

In [ ]:
print(a)

8

In [ ]:
a="Pirates"
print("a" in a)
print("a" not in a)

True
False

In [ ]:
#write a program to get a number from the user and check whether it is negative or positive
a=int(input("enter a number"))
if (a<0):
 print(a, "is negative")
elif (a>0):
 print(a, "is positive")
else:
  print("it is neither positive ir negative")
print(type(a))

enter a number0
it is neither positive ir negative
<class 'int'>

In [ ]:
a=int(input("Enter a number"))
i=1
for i in range(i,11,1):
 print(a ,"*" ,i,"=", a*i )

Enter a number52
52 * 1 = 52
52 * 2 = 104
52 * 3 = 156
52 * 4 = 208
52 * 5 = 260
52 * 6 = 312
52 * 7 = 364
52 * 8 = 416
52 * 9 = 468
52 * 10 = 520

In [ ]:
a="Python is easy"
print(a[::2])

Pto ses

In [ ]:
a=int(input("Enter a number"))
i=1
while(i<=10):
  print(a*i)
  i=i+1

Enter a number0
0
0
0
0
0
0
0
0
0
0

In [ ]:
l=[23,"god",7.3,54]
print(l)
for i in l:
  print(i)

[23, 'god', 7.3, 54]
23
god
7.3
54

In [ ]:
l=[]
for i in range(1,11,1):
 l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l=[]
for i in range(1,11,1):
 l.append(i)
l.insert(3,'hi')
print(l)

[1, 2, 3, 'hi', 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l1=[15,'hello',7,"bye"]
print(l)
print(l1)
l.extend(l1)
l1.extend(l)
print(l)
print(l1)

[1, 2, 3, 'hi', 4, 5, 6, 7, 8, 9, 10, 15, 'hello', 7, 'bye']
[15, 'hello', 7, 'bye']
[1, 2, 3, 'hi', 4, 5, 6, 7, 8, 9, 10, 15, 'hello', 7, 'bye', 15, 'hello', 7, 'bye']
[15, 'hello', 7, 'bye', 1, 2, 3, 'hi', 4, 5, 6, 7, 8, 9, 10, 15, 'hello', 7, 'bye', 15, 'hello', 7, 'bye']

In [ ]:
l1=[123,43,5,87]
l2=[i**2 for i in l1]
print(l2)

[15129, 1849, 25, 7569]

In [ ]:
l1=[123,43,5,87]
l2=[i**2 for i in l1 if i<50]
print(l2)

[1849, 25]

In [ ]:
#The salaries of 5 employees in a company is taken as a list. The  tax is 10% if the salary is less than or = to 50000 else 15%
l1=[67000,45000,89000,34000,50000]
l2=[i*0.1 for i in l1 if i<=50000]
l3=[i*0.15 for i in l1 if i>50000]
l2.extend(l3)
print(l2)

[4500.0, 3400.0, 5000.0, 10050.0, 13350.0]

In [ ]:
l1=[67000,45000,89000,34000,50000]
l2=[]
for i in l1:
  if i<=50000:
    t=i*0.1
    l2.append(t)
  else:
    t=i*0.15
    l2.append(t)
print(l2)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]