In [ ]:
from bs4 import BeautifulSoup as bs
import requests as rq
url='https://www.forbesindia.com/article/explainers/top-10-richest-people-india/85909/1'
req=rq.get(url)
#using BeautifulSoup() to access HTML code
code=bs(req.text,'html')
print(code)

In [ ]:
#accessing table
table=code.find('table')
print(table)

In [ ]:
#accessing tableheading
heading=table.find_all('th')
print(heading)

[<th style="border: 1px solid black; padding: 8px;"><strong>Name &amp; India Rank</strong></th>, <th style="border: 1px solid black; padding: 8px;"><strong>Global Rank</strong></th>, <th style="border: 1px solid black; padding: 8px;"><strong>Net worth (US$)</strong></th>, <th style="border: 1px solid black; padding: 8px;"><strong>Company</strong></th>]

In [ ]:
import pandas as pd
df=pd.DataFrame(columns=heading)
print(df)

Empty DataFrame
Columns: [([Name & India Rank], [Global Rank], [Net worth (US$)], [Company])]
Index: []

In [ ]:
list=[i.text for i in heading]
print(list)

['Name & India Rank', 'Global Rank', 'Net worth (US$)', 'Company']

In [ ]:
rows=table.find_all('tr')
print(rows)

In [ ]:
data=[i.text for i in rows]
print(data)

['\nName & India Rank\nGlobal Rank\nNet worth (US$)\nCompany\n', '\n#1 Mukesh Ambani \n11\n$113.0 B\nReliance Industries\n', '\n#2 Gautam Adani \n16\n$81.2 B\nAdani Group\n', '\n#3 Shiv Nadar \n37\n$37.1 B\nHCL Technologies\xa0\xa0 \n', '\n#4 Savitri Jindal & family \n58\n$28.9 B\nJSW Group\n', '\n#5 Cyrus Poonawalla \n68\n$25.6 B\nSerum Institute of India\n', '\n#6 Dilip Shanghvi \n69\n$25.5 B\nSun Pharmaceutical Industries Ltd\n', '#7 Kumar Birla \n97\n$18.9 B\nAditya Birla Group\n', '\n#8 Kushal Pal Singh\n98\n$18.9 B\nDLF Limited\n', '\n', '\n#9 Lakshmi Mittal \n102\n$17.2 B\nArcelorMittal\n', '#10 Radhakishan Damani \n105\n$16.7 B\nDMart, Avenue Supermarts\n']

In [ ]:
for i in rows[1:8]:
  rd=i.find_all('td')
  eachrow=[i.text for i in rd]
  print(eachrow)

['#1 Mukesh Ambani ', '11', '$113.0 B', 'Reliance Industries']
['#2 Gautam Adani ', '16', '$81.2 B', 'Adani Group']
['#3 Shiv Nadar ', '37', '$37.1 B', 'HCL Technologies\xa0\xa0 ']
['#4 Savitri Jindal & family ', '58', '$28.9 B', 'JSW Group']
['#5 Cyrus Poonawalla ', '68', '$25.6 B', 'Serum Institute of India']
['#6 Dilip Shanghvi ', '69', '$25.5 B', 'Sun Pharmaceutical Industries Ltd']
['#7 Kumar Birla ', '97', '$18.9 B', 'Aditya Birla Group']

In [ ]:
head=[i.text for i in heading]

In [ ]:
df=pd.DataFrame(columns=head)
print(df)

Empty DataFrame
Columns: [Name & India Rank, Global Rank, Net worth (US$), Company]
Index: []

In [ ]:
a=0
for i in rows[1:9]:
  rd=i.find_all('td')
  er=[i.text for i in rd]
  df.loc[a]=er
  a=a+1
df

,Name & India Rank,Global Rank,Net worth (US$),Company
0,#1 Mukesh Ambani,11,$113.0 B,Reliance Industries
1,#2 Gautam Adani,16,$81.2 B,Adani Group
2,#3 Shiv Nadar,37,$37.1 B,HCL Technologies
3,#4 Savitri Jindal & family,58,$28.9 B,JSW Group
4,#5 Cyrus Poonawalla,68,$25.6 B,Serum Institute of India
5,#6 Dilip Shanghvi,69,$25.5 B,Sun Pharmaceutical Industries Ltd
6,#7 Kumar Birla,97,$18.9 B,Aditya Birla Group
7,#8 Kushal Pal Singh,98,$18.9 B,DLF Limited

In [ ]:
df.to_csv("Richman.csv")